@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background: url(../content/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Nunito', sans-serif;
}

h1{
	color: #d9dbd6;
	font-size:50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2{
	color: #d9dbd6;
	font-size: 18px;
}

#about{
	width: 450px;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	color:white;
}

#me{
	height: 150px;

	border-radius: 100%;
	border: solid white 4px;
	

	margin-top: 40px;
}

#bio{
	color:white;
	font-size: 22px;
	background-color: rgba(128, 128, 128, 0.2);
	padding: 5px;
}